@*<div class="p-5 text-center @*bg-body-tertiary*@" @*style="background-color:darkgray">*@
   @* <div class="container py-5">
      <h1 class="text-body-emphasis">E-Shop Alışveriş Sitesi</h1>
      <p class="col-lg-8 mx-auto lead text-danger fw-bold">
        En İyi Ürünler, En İyi Fiyatlara
      </p>
    </div>
  </div>*@